<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head2') %>
<body class="authPage">
    <main class="authContainer">
        <a href="/">
            <img src="/images/logo.webp" alt="Groupify" class="authLogo">
        </a>
        <h1 class="authTitle">
            Reset Password
        </h1>
        <form action="/reset-password" method="POST" class="authFormBox">
            <% if (errors && errors.length) { %>
                <% errors.forEach(function(error) { %>
                    <p class="authError"><i class="fa-solid fa-circle-info"></i> <%= error %></p>
                <% }) %>
            <% } %>
            <p style="font-family: 'Geologica', sans-serif; font-size: 16px; color: #413457; text-align: center; margin-bottom: 8px;">
                A code was sent to <strong><%= email %></strong>. If you don't see it, check your spam folder or request a new code.
            </p>
            <input 
            type="text" 
            id="otp" 
            name="otp" 
            placeholder="Code" 
            class="authuserInput" 
            maxlength="4" 
            required
            />
            <input 
            type="password" 
            id="password" 
            name="password" 
            autocomplete="off" 
            placeholder="New Password" 
            class="authuserInput" 
            minlength="8" 
            required
            />
            <input 
            type="password" 
            id="confirmPassword" 
            name="confirmPassword" 
            autocomplete="off" 
            placeholder="Confirm New Password" 
            class="authuserInput" 
            required
            />
            <button class="authButton">RESET PASSWORD</button>
        </form>
        
        <p class="account">
            <a href="/forgot-password" class="linktoAuth">Resend Code</a>
            <span class="line">|</span>
            <a href="/signin" class="linktoAuth">Sign In</a>
        </p>
    </main>
</body>
</html>