<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head2') %>
  <body class="authPage">

    <main class="authContainer">

      <a href="/">
        <img src="/images/logo.webp" alt="Groupify" class="authLogo">
      </a>

      <h1 class="authTitle">Sign In</h1>

      <form action="/signin" method="POST" class="authFormBox">
        <% errors.forEach(error => { %>
          <p class="authError"><i class="fa-solid fa-circle-info"></i> <%= error %></p>
        <% }) %>

        <input type="text" id="userOrEmail" name="userOrEmail" autocomplete="off" placeholder="Username or Email" class="authuserInput"/>
        <input type="password" id="password" name="password" autocomplete="off" placeholder="Password" class="authuserInput"/>

        <a href="/forgot-password" class="forgotPassword">Forgot Password?</a>

        <button class="authButton">SIGN IN</button>
      </form>

      <p class="account">
        Don't have an account? 
        <a href="/signup" class="linktoAuth">Sign Up</a>
      </p>

    </main>
  </body>
</html>