<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head2') %>
  <body class="authPage">
    
    <main class="authContainer">
      <a href="/">
        <img src="/images/logo.webp" alt="Groupify" class="authLogo">
      </a>

      <h1 class="authTitle">
        Sign Up
      </h1>

      <form action="/signup" method="POST" class="authFormBox">
        <% errors.forEach(error => { %>
          <p class="authError"><i class="fa-solid fa-circle-info"></i> <%= error %></p>
        <% }) %>

        <input type="text" id="username" name="username" autocomplete="off" placeholder="Username" class="authuserInput"/>
        <input type="email" id="email" name="email" autocomplete="email" placeholder="Email" class="authuserInput" required/>
        <input type="password" id="password" name="password" autocomplete="off" placeholder="Password" class="authuserInput"/>

        <button class="authButton">SIGN UP</button>
      </form>

      <p class="account">
        Already have an account?
        <a href="/signin" class="linktoAuth">Sign In</a>
      </p>

    </main>
  </body>
</html>