<!DOCTYPE html>
<html lang="en">
<%- include('includes/head2') %>
<%- include('includes/head') %>
<%- include('includes/header') %>
<body>

<main class="skills-page">
  <% if (errors && errors.length) { %>
    <% errors.forEach(error => { %>
      <p class="notice"><%= error %></p>
    <% }) %>
  <% } %>

  <h1 style="color:black; text-align: center;">Enter Your Skills</h1>
  <br />

  <div class="enter-skills" style="text-align:center;">
    <input 
      style="width:600px; background-color: white; border-radius: 12px; color:black; outline:none; border:none;" 
      type="text" 
      id="skillInput" 
      placeholder="Enter Skills (ex: Creative Direction)" 
      autocomplete="off" 
    />
    <button 
      style="width:100px; background-color: black; color: white; border-radius: 12px;"
      type="button" 
      onclick="addSkill()">
      ADD
    </button>
  </div>

  <br />

  <fieldset style="background-color: white; width:710px; height: 300px; border-radius: 12px; margin:auto; outline: none;">
    <div class="entered-skills" id="enteredSkills"></div>
  </fieldset>

  <br />

  <div class="confirm-container">
    <button 
      style="width:200px; background-color: black; color: white; border-radius: 12px;" 
      type="button" 
      onclick="submitSkills()">
      CONFIRM
    </button>
  </div>

  <a href="/" class="skip-link">Skip For Now ></a>

</main>

    <script src="/js/skills.js"></script>
  </body>
</html>
